FACE_MODEL_ROOT="/root/autodl-fs-data6/ckpt/insightface"    # https://github.com/deepinsight/insightface/releases
DINO_MODEL_ROOT="/root/autodl-fs-data6/ckpt/dinov2-giant"   # https://huggingface.co/facebook/dinov2-giant
CLIP_MODEL_ROOT="/root/autodl-fs-data6/ckpt/clip-vit-large-patch14"  # https://huggingface.co/openai/clip-vit-large-patch14
IMPROVED_AES_MODEL_PATH="/root/autodl-fs-data6/ckpt/improved-aesthetic-predictor/sac+logos+ava1-l14-linearMSE.pth"  # https://github.com/christophschuhmann/improved-aesthetic-predictor
SAM2_CKPT ="/root/autodl-fs-data6/ckpt/sam2.1-hiera-large" # https://huggingface.co/facebook/sam2.1-hiera-large
GROUNDINGDINO_CKPT ="/root/autodl-fs-data6/ckpt/grounding-dino-base" # https://huggingface.co/IDEA-Research/grounding-dino-base
VQA_MODEL_ROOT ="/root/autodl-fs-data6/ckpt/Qwen3-VL-8B-Instruct" # https://huggingface.co/Qwen/Qwen3-VL-8B-Instruct