---

---

<figure>
  <div class="flex w-full justify-center overflow-hidden rounded-lg **:my-0">
    <slot name="figure" />
  </div>
  <figcaption class="text-center">
    <slot name="caption" />
  </figcaption>
</figure>
